<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="liuyan.mapper.LiuyanMapper">
	<select id="queryAll" resultType="Liuyan">
		select * from liuyan order by createtime desc,updatetime desc
	</select>
	
	<select id="findLiuyanNum" resultType="Integer">
		select count(*) from liuyan
	</select>
	
	<select id="findNoreadLiuyanNum" resultType="Integer">
		select count(*) from liuyan where isread =#{isread}
	</select>
	
	<select id="findById" resultType="Liuyan">
		select * from liuyan where id = #{id}
	</select>

	<delete id="deleteByLiuyanId" parameterType="String">
		delete from liuyan where id = #{id}
	</delete>

	<insert id="addLiuyan" >
		INSERT INTO liuyan (id, name, email, address, neirong, updatetime, createtime, isread, temp1, temp2, temp3, temp4, temp5, temp6, temp7, temp8, temp9, temp10, temp11, temp12, temp13, temp14, temp15, temp16, temp17, temp18, temp19, temp20) VALUES 
		(uuid(),#{name},#{email},#{address},#{neirong},#{updatetime},#{createtime},#{isread},#{temp1},#{temp2},#{temp3},#{temp4},#{temp5},#{temp6},#{temp7},#{temp8},#{temp9},#{temp10},#{temp11},#{temp12},#{temp13},#{temp14},#{temp15},#{temp16},#{temp17},#{temp18},#{temp19},#{temp20})
	</insert>
	
	<update id="updateLiuyanById">
		update liuyan set name = #{name},email=#{email},address=#{address},
		neirong = #{neirong},updatetime=#{updatetime},createtime=#{createtime},isread=#{isread},
		temp1=#{temp1},temp2=#{temp2},temp3=#{temp3},temp4=#{temp4},temp5=#{temp5},
		temp6=#{temp6},temp7=#{temp7},temp8=#{temp8},temp9=#{temp9},temp10=#{temp10},
		temp11=#{temp11},temp12=#{temp12},temp13=#{temp13},temp14=#{temp14},temp15=#{temp15},
		temp16=#{temp16},temp17=#{temp17},temp18=#{temp18},temp19=#{temp19},temp20=#{temp20}
		where id = #{id}
	</update>

</mapper>