<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.mapper.UserMapper">

	<select id="chaByname" parameterType="String" resultType="User">
		select
		* from user where name = #{name}
	</select>
	
	<select id="findUserNum" resultType="Integer">
		select count(*) from user
	</select>

	<select id="IfNameExist" parameterType="String"
		resultType="Integer">
		select count(*) from user where name = #{name}
	</select>

	<!-- 查询所有person -->
	<select id="queryAll" resultType="User">
		select * from user order by createtime desc,updatetime desc limit #{startpage},#{count}
	</select>

	<select id="findByPassword" resultType="User">
		select * from user where
		name = #{name}
	</select>

	<select id="findUserById" resultType="User">
		select * from user where id
		= #{id}
	</select>
	
	<select id="findLikeNameUser" resultType="User">
		select * from user where name like '%${name}%'
	</select>
	
	<select id="findLikeaddressUser" resultType="User">
		select * from user where address like '%${address}%'
	</select>
	
	<select id="findLikeconsigneeUser" resultType="User">
		select * from user where consignee like '%${consignee}%'
	</select>
	
	<select id="findLikephoneUser" resultType="User">
		select * from user where phone like '%${phone}%'
	</select>
	

	<select id="findByname" parameterType="String" resultType="User">
		select * from user where name = #{name}
	</select>

	<delete id="deleteByname" >
		delete from user where name = #{name}
	</delete>

	<delete id="deleteByUserId" >
		delete from user where id = #{id}
	</delete>

	<insert id="tianjiaUser">
		insert into
		user(name,password,phone,address,consignee,sex,temp1,temp2,temp3,temp4,temp5,createtime)
		values(#{name},#{password},#{phone},#{address},#{consignee},#{sex},#{temp1},#{temp2},#{temp3},#{temp4},#{temp5},#{createtime})
	</insert>

	<update id="updateuserById">
		update user set name =
		#{name},password=#{password},phone=#{phone},address=#{address},consignee=#{consignee},sex=#{sex},temp1=#{temp1},temp2=#{temp2},temp3=#{temp3},temp4=#{temp4},temp5=#{temp5},updatetime=#{updatetime}
		where id = #{id}
	</update>

	<update id="updateUserByname">
		update user set
		password=#{password},phone=#{phone},address=#{address},consignee=#{consignee},sex=#{sex},temp1=#{temp1},temp2=#{temp2},temp3=#{temp3},temp4=#{temp4},temp5=#{temp5},updatetime=#{updatetime}
		where name = #{name}
	</update>

	<update id="reset">
		update user set
		password=#{password},updatetime=#{updatetime} where phone=#{phone} and
		name = #{name}
		and sex=#{sex}
	</update>


</mapper>